body {
  background: url(teaboxme-bg.jpg) no-repeat right top fixed;
  background-size: 90%;
  font-family: Helvetica, Arial, sans-serif;
  color: #222; 
}
#content {
  margin-left: 40px;
  width: 400px;
}
#content h1 {
  font-size: 5em;
  margin-bottom: 5px;
}
#content h2 {
  color: #23691f;
  font-size: 1.5em;
}
#signup-button {
  background-color: #23691f;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.7);
  font-size: 1.25em;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid #164213;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1em;
}
a#signup-button:hover {
  background-color: #30902b;
}

#content p {
  font-weight: 300;
  font-size: 1.05em;
  margin-bottom: 40px;
}