body {
  background: url(teaboxme-bg.jpg) no-repeat right top fixed;
  background-size: 90%;
  font-family: Helvetica, Arial, sans-serif;
  color: #222; 
}
#content {
  margin-left: 40px;
  width: 400px;
  background-color: rgba(255,255,255,0.1);
}
#content h1 {
  font-size: 3.5em;
  margin-bottom: 5px;
}
#content h2 {
  color: #23691f;
  font-size: 1.5em;
}
#signup-button {
  background-color: #23691f;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.7);
  font-size: 1.25em;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid #164213;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
a#signup-button:hover {
  background-color: #30902b;
  box-shadow: inset 0px 0px 24px #23691f;
}

#content p {
  font-weight: 300;
  font-size: 1.05em;
  margin-bottom: 30px;
}

#content p#ship {
  font-size: 0.8em;
  margin-left: 4px;
  margin-top: 4px;
}

#testimonials {
  width: 390px;
  background-color: rgba(25,25,25,0.15);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: -5px;
}

#testimonials img {
  width: 60px;
  height: 60px;
  float: left;
}

#testimonialcontent {
  position: relative;
  left: 10px;
}

#testimonialcontent p, a {
  font-size: 14px;
  margin: 0;
  width: 380px;
  text-shadow: 0px -1px 1px rgba(255,255,255,0.7);
}

#testimonialcontent a {
  color: #23691f;
  text-decoration: none;
  font-size: 11px;
}

#testimonialcontent p#content {
    font-weight: bold;
}

#testimonials a#twitterlink:hover {
  color: #30902b;
}

@media all and (max-width: 900px) {
    #overlay {
        background-color: rgba(255,255,255,0.6);
        position: fixed;
        left: 8px;
        top: 0px;
        height: 100%;
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------*/
/* 7. NATE */
/*-------------------------------------------------------------------------------------------*/

#pricing {
  width: 960px;
  margin: 0 auto;
}

#pricing h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.pricingcol {
  width: 280px;
  float: left;
  background-color: #f0edd0;
  margin-left: 15px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #dbd490;
}

.pricingcol:first-child {
  margin-left: 0px;
}

h2.subtype, a.cta, span.price, p.moreinfo {
  display: block;
  text-align: center;
}

h2.subtype {
  margin: 15px 0;
}

span.price {
  font-size: 20px;
  margin: 8px 0;
}

a.cta {
  background-color: #23691f;
  color: #fff!important;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.7);
  font-size: 1.4em;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid #164213;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}

a.cta:hover {
  background-color: #30902b;
  box-shadow: inset 0px 0px 24px #23691f;
}

#pricingcolgroup hr {
  background-color: #dbd490;
  height: 2px;
}

p.moreinfo {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

#shippingboxinfo {
  width: 900px;
  margin: 0 auto;
}

#shippingboxinfo h3 {
  margin-bottom: 10px;
}

#shippingboxinfo ol {
  list-style-type: disc;
  position: relative;
  left: 20px;
  margin-bottom: 20px;
}

#shippingboxinfo ol li {
  color: rgba(10,10,10,0.8);
  font-size: 16px;
  margin-bottom: 5px;
  width: 460px;
}

p#email {
  font-size: 1em;
}

p#email a {
  color: #23691f;
  text-decoration: none;
}
p#email a:hover {
  color: #30902b
}
